.pointIcon {
  stroke: black;
}

.pointIcon::after {
  content: '';
  outline: 12px solid tomato;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  background-color: yellowgreen;
}
