@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #29382d;
  --accent: #29382d;
  --placeholder: rgba(255, 255, 255, 0.7);

  --dark-gradient-start: #394e2d;
  --dark-gradient-end: #29392f;
  --dark-gradient: linear-gradient(180deg, #394e2d 0%, #29392f 100%);
  --light-gradient-start: #f2e2ba;
  --light-gradient-end: #d5ba75;
  --light-gradient: linear-gradient(180deg, #f2e2ba 0%, #d5ba75 100%);
}

body {
  /* color: rgb(var(--primary));
  background: var(--dark-gradient); */
  min-height: 100vh;
}
