@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #29382d;
  --accent: #d5ba75;
  --placeholder: rgba(255, 255, 255, 0.7);
  --warning: #8e0000;
  --navigation: #0c2300;

  --dark-gradient-start: #394e2d;
  --dark-gradient-end: #29392f;
  --dark-gradient: linear-gradient(180deg, #394e2d 0%, #29392f 100%);
  --light-gradient-start: #f2e2ba;
  --light-gradient-end: #d5ba75;
  --light-gradient: linear-gradient(180deg, #f2e2ba 0%, #d5ba75 100%);
  --underline-gradient: linear-gradient(90deg, #f2e2ba 0%, #d5ba75 100%);
  --body-gradient: linear-gradient(180deg, #29392f 66.67%, #394e2c 100%);

  --text-shadow-navigation: 0px 3px 4px rgba(0, 0, 0, 0.3);
  --hover-shadow: 0px 0px 30px 0px rgba(213, 186, 117, 0.41);
  --card-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-shadow-navigation {
  text-shadow: var(--text-shadow-navigation);
}

.golden-edge {
  border: 2px solid transparent;
}

.golden-edge::before {
  content: '';
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  background: var(--light-gradient);
  border-radius: 0.75rem;
  box-shadow: var(--card-shadow);
}
