@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #29382d;
  --accent: #d5ba75;
  --placeholder: rgba(255, 255, 255, 0.7);
  --warning: #8e0000;

  --dark-gradient-start: #394e2d;
  --dark-gradient-end: #29392f;
  --dark-gradient: linear-gradient(180deg, #394e2d 0%, #29392f 100%);
  --light-gradient-start: #f2e2ba;
  --light-gradient-end: #d5ba75;
  --light-gradient: linear-gradient(180deg, #f2e2ba 0%, #d5ba75 100%);
}
